{% extends "betainvite/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}
{% trans "Invite Your Friends To Join" %}
{% endblock %}


{% block content %}

<div class="container well ac white-bg">
<h2>{% trans "Invite Your Friends To Join" %}</h2>

{% ifequal remaining_invitations 0 %}
<p>{% trans "You currently have no invitations to send." %}</p>
{% else %}
<br>

<form action="{% url 'invitation_invite' %}" class="validate" method="post">
{{ formset.management_form }}
{% for form in formset %}
    {% crispy form %}
{% endfor %}
<div class="form-actions">
  <input type="submit" name="submit" value="{% trans 'Send Invitation' %}" class="btn" id="submit-id-submit">
</div>
</form>

{% endifequal %}
</div>

{% endblock %}
